body{
	margin:0;
}
a{
	color: inherit; 
	text-decoration: inherit;
}

.header{
	display: flex;
	justify-content: center;
	height:25vh;
	padding-top:5%;
	width:100%;
	justify-self: center;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url(./assets/imgs/hero-img.jpg);
	background-position: center;
	background-size: cover;
	color:white;
	font-size: xx-large;
	letter-spacing: 0.03rem;
}

.home-btn{
	margin-left: 2rem;
}
.home-btn:hover{
	text-decoration: underline;
	cursor: pointer;
}
.main-options-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 3%;
}

.secondary-options-container{
	margin:2rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
  	gap: 20px;
}

.secondary-options-container .option-box{
	width:100%;
	height: 20vh;
}

.option-box{
	border-radius: 0.5rem;
	background:whitesmoke;
	box-shadow: 10px 5px 5px rgba(0,0,0,0.2);
	width:30%;
	min-height:30vh;
	transition: all .2s ease-in-out; 
}

.option-box h2{
	font-weight: 300;
	font-size: large;
	margin: 0.2rem;
}

.option-box p{
	margin: 0.2rem;
	font-weight: 100;

}

.option-box-img{
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	width:100%;
	height:50%;
	max-height: 400px;
	object-fit: cover;
}

.option-box:hover{
	transform: scale(1.05); 
	cursor: pointer;
}

@media only screen and (max-width: 1000px) {
	.secondary-options-container{
		grid-template-columns: repeat(3, 1fr);
	}
  }

@media only screen and (max-width: 600px) {
	.main-options-container{
		flex-direction: column;
		align-items: center;
	}

	.secondary-options-container{
		grid-template-columns: repeat(2, 1fr);
	}

	.main-options-container .option-box{
		width:80%;
		margin:2rem;
	}

  }