body{
	margin:0;
}
a{
	color: inherit; 
	text-decoration: inherit;
}

.header{
	display: flex;
	justify-content: center;
	height:33vh;
	padding-top:12%;
	width:100%;
	justify-self: center;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),  url(./assets/imgs/hero-img.jpg);
	background-position: center;
	background-size: cover;
	color:white;
	font-size: xx-large;
	letter-spacing: 0.03rem;
}

.home-btn{
	margin-left: 2rem;
}
.home-btn:hover{
	text-decoration: underline;
	cursor: pointer;
}
.main-options-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 3%;
}

.secondary-options-container{
	margin:2rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  	gap: 20px;
	z-index:1;
}

.filter-and-options-container{
	display: flex;
	flex-direction: row;

}
.filtermenu{
	background: #9FA8A3;
	min-width: 20%;
	padding: 0.4rem;
	height: 95vh;
}

.filter-title{
	font-weight: bold;
}

.secondary-options-container .option-box{
	width:100%;
	height: 30vh;
	
}

.secondary-options-container .option-box h2{
	font-size: x-large;
	font-weight: bolder;
	text-decoration: none;
}

.option-box{
	padding:0.2rem;
	border-radius: 0.5rem;
	background:whitesmoke;
	box-shadow: 10px 5px 5px rgba(0,0,0,0.2);
	width:30%;
	height:35vh;
	transition: all .2s ease-in-out; 
}

.option-box h2{
	font-weight: 300;
	font-size: large;
	margin: 0.2rem;
}

.option-box p{
	margin: 0.2rem;
	font-weight: 100;
	opacity: 0.75;

}

.option-box h2 {
	font-size: xx-large;
	text-decoration: underline;
}

.option-box-img{
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	width:100%;
	height:50%;
	max-height: 400px;
	object-fit: cover;
}

.cafe-restaurant-serving{
	opacity: 0.4;
	display: flex;
	flex-direction: row;
	margin-top: -0.7rem;
}

.title-location-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.location-with-icon{
	display: flex;
	flex-direction: row;
}

.option-box-info-container {
padding: 0.5rem;	
}

.option-box:hover{
	transform: scale(1.05); 
	cursor: pointer;
}

.info-modal{
	background:rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	bottom: 0;
  	left: 0;
  	right: 0;
	opacity: 0;
	visibility: hidden;
	z-index:99;
	&:target{
		visibility: visible;
		opacity: 1;
	}	
}

.modal-content{
	background: white;
	margin:10% 20%;
	min-height:50vh;
	padding: 1rem;
	border-radius: 2rem;
}

.modal-img{
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
	width:100%;
	height:70%;
	max-height: 400px;
	object-fit: cover;
}

.close-modal{
	position:absolute;
	width:100%;
	height:100%;
	cursor: default;
}

@media only screen and (max-width: 1000px) {
	.secondary-options-container{
		grid-template-columns: repeat(2, 1fr);
	}
  }

@media only screen and (max-width: 600px) {
	.main-options-container{
		flex-direction: column;
		align-items: center;
	}

	.secondary-options-container{
		grid-template-columns: repeat(1, 2fr);
	}

	.secondary-options-container .option-box{
		min-height:250px;
	}

	.main-options-container .option-box{
		width:80%;
		margin:2rem;
		
	}
	.filtermenu{
		font-size: small;
	}
	.filtermenu input{
		margin-bottom:0.5rem;
	}

  }